*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background: rgb(150, 164, 20);
    color: black;
    padding: 5px;
    float: left;
}

.menu{
    width: 25px;
    padding: 5px;
    background: green;
    float: left;
    color: white;
}

.footer{
    clear: left;
    background-color: black;
    color: white;
}

.col-1{
    width: 8.3%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.333%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .menu{
        width: 100%;
    }
    .main{
        width: 100%;
    }
}